<mat-toolbar>
  <span>My App</span>
  <button
    mat-raised-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
    Browse
  </button>
  <span class="spacer">
    <div class="search-form">
      <div class="icon-search">
        <mat-icon>search</mat-icon>
      </div>
      <input type="text" placeholder="Search Movies,TV Shows, Person..." />
    </div>
  </span>
  <button mat-button>Sign in</button>
</mat-toolbar>

<router-outlet></router-outlet>
