:host {
  background-color: #fafafa;
  .home-container {
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: center;
    padding:0px 10%;
    .header-container { 
      display: flex;
      margin: 10px auto 30px;
      background: #212121;
      background: -moz-linear-gradient(
        0deg,
        rgba(47, 52, 65, 0) 0,
        #212121 100%
      );
      /* background: -webkit-linear-gradient(0deg,rgba(47,52,65,0) 0,#2f3441 100%); */
      background: linear-gradient(0deg,rgba(47,52,65,0) 0,#2f3441 100%);
    
      flex-direction: row;
      height: 550px;
      max-height: 550px;
      gap: 10px;
      app-carousel {
        flex: 1 1 auto;
      }
      .popular-section {
        height: 550px;
        width: 35%;
      }
    }
    .movie-card-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: auto;
      align-items: stretch;
      place-content: center space-between;
      width: auto;
      gap: 0.5em;
      padding: 0 1%;
    }
    movie-card {
      width: calc((100% / 10) - 10px);
      display: flex;
      place-content: stretch flex-start;
      align-items: stretch;
    }

    movie-now-playing{
      margin-bottom: 60px;
    }
  }
}
