<div
class="movie-detail-poster"
[style.background-image]="backdropPath(data.backdrop_path)"
>
<div class="movie-detail-poster-overlay">
  <div class="movie-detail-content">
    <div class="movie-detail-content-left">
      <img
        [src]="
          'https://image.tmdb.org/t/p/w300_and_h450_bestv2/' +
          data.poster_path
        "
        [alt]="data.original_title"
      />
    </div>
    <div class="movie-detail-content-right">
      <div class="mat-h1">
        {{ data.original_title }} ({{
          data.release_date | date : "YYYY"
        }})
      </div>
      <div class="mat-body">{{ data.overview }}</div>
      <div class="mat-body">Duration: {{ data.runtime }}</div>
      <div class="mat-body">Rating: {{ data.vote_average | number:'1.0-1' }}</div>
      <div class="mat-body">
        Genre:
        <ng-container
          *ngTemplateOutlet="
            genreTemplate;
            context: { list: data.genres }
          "
        ></ng-container>
      </div>
      <div class="mat-body">
        Country:
        <ng-container
          *ngTemplateOutlet="
            countryTemplate;
            context: { list: data.production_countries }
          "
        ></ng-container>
      </div>
    </div>
  </div>
</div>
</div>

<ng-template #genreTemplate let-genreList="list">
  <span *ngFor="let g of genreList; index as i"
    >{{ g.name }}{{ i < genreList.length - 1 ? ", " : "" }}</span
  >
</ng-template>
<ng-template #countryTemplate let-countryList="list">
  <span *ngFor="let g of countryList; index as i"
    >{{ g.name }}{{ i < countryList.length - 1 ? ", " : "" }}</span
  >
</ng-template>
